{% load static %}
<!doctype html>
<html lang="ja">
    {% block extrahead %}
        <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    <header>
        <p>友達</p>
        <hr>
    </header>
    <main>
        <p>This is friend form.</p>
        <table>
            <tr>
                <th>username</th>
                <th>email</th>
                <th>img</th>
            </tr>
            <tr>
                <td>テスト</td>
                <td>null@gmail.com</td>
                <td><img src="media/img/default.jpg"/></td>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{item.img}}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <nav>
        <hr>
        <ul>
            <li><a href=friend>友達</a></li>
            <li><a href=setting>設定</a></li>
        </ul>
    </nav>
</html>