{% load static %}
<!doctype html>
<html lang="ja">
    {% block extrahead %}
        <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    <header>
        <p>友達</p>
        <hr>
    </header>
    <main>
        <table>
            {% for item in data %}
            {% if item.username != user.username %}
            <tr>
                <td rowspan="2"><img src="media/img/default.jpg" /></td>
                <td><a href="{% url 'talk' item.username %}">{{ item.username }}</a></td>
            </tr>
            <tr><td>内容</td></tr>
            {% endif %}
            {% endfor %}
        </table>
    </main>
    <nav>
        <hr>
        <ul>
            <li><a href=friend>友達</a></li>
            <li><a href=setting>設定</a></li>
        </ul>
    </nav>
</html>