{% load static %}
<!doctype html>
<html lang="ja">
    {% block extrahead %}
        <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    <header>
        <p>設定</p>
        <hr>
    </header>
    <main>
        <p><a href="{% url 'username_change' %}"><input type="button" name="username_change" value="ユーザーネーム変更"></a></p>
        <p><a href="{% url 'mail_change' %}"><input type="button" name="mail_change" value="メールアドレス変更"></a></p>
        <p><a href="{% url 'icon_change' %}"><input type="button" name="icon_change" value="アイコン変更"></a></p>
        <p><a href="{% url 'password_change' %}"><input type="button" name="password_change" value="パスワード変更"></a></p>
        <p><a href="{% url 'logout' %}"><input type="button" name="logout" value="ログアウト"></a></p>
    </main>
    <nav>
        <hr>
        <ul>
            <li><a href=friend>友達</a></li>
            <li><a href=setting>設定</a></li>
        </ul>
    </nav>
</html>