{% load static %}
<!doctype html>
<html lang="ja">
    {% block extrahead %}
        <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    <header>
        <p>{{friendname}}</p>
        <hr>
    </header>
    <main>
        <table>
            {% for item in talkdata %}
            {% if item.sender == user.username and item.receiver == friendname or item.receiver == user.username and item.sender == friendname %}
            <tr>
                <td>>{{item.sender}}</td>
                <td align="right">{{item.date.month}}/{{item.date.day}} {{item.date.hour}}:{{item.date.minute}}</td>
            </tr>
            <tr><td>{{item.text}}</td></tr>
            {% endif %}
            {% endfor %}
        </table>
    </main>
    <form class="talk_room__sendbox" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="talk_room__sendbox-btn" type="submit">送信</button>
    </form>
</html>